:root{
    --branco: rgba(255, 255, 255, 0.938);
    --fontsize: 1.5em;
    --preto: #2a1708;
    --marrom: #2c1706;
    --marrom-claro: #D8CD99;
    --amarelo: #fffbaf;
    --azul: rgb(10, 10, 59);
}