.col-md-1{ 
    background-color: white;
    height: 300px;
}

.title{
    color: rgb(88, 88, 88);
    font-size: 20px;
    width: 300px; 
}

.bg-class-nav{
    margin-top: 50px;
    margin-left: 70px;
}

.div-separator{
    width: 280px;
}

.input{
    margin-top: 10px;
    width: 300px;
}

hr{
    margin-left: -60px;
}

.img-block{
    width: 390px;
    height: 280px;
    margin-left: -15px;
    position: absolute;
}

.img-block-2{
    width: 300px;
    height: 280px;
    margin-left: -90px;
}

#space{
    margin-left: -70px;
}

.container{
    position: relative;
}

#text{
    position: absolute;
    margin-left: -5px;
    margin-top: 194px;
    color: white;
    text-shadow: 1px 1px 13px rgb(54, 52, 52);
    font-weight: 550;
    font-size: 11px;
}

#text-2{
    position: absolute;
    margin-left: -5px;
    margin-top: 215px;
    color: white;
    text-shadow: 1px 1px 13px rgb(54, 52, 52);
    font-weight: 550;
    font-family: arial,sans-serif;
    font-size: 15px;
}


#text-3{
    position: absolute;
    margin-left: -290px;
    margin-top: 194px;
    color: white;
    text-shadow: 1px 1px 13px rgb(54, 52, 52);
    font-weight: 550;
    font-size: 11px;
}

#text-4{
    position: absolute;
    margin-left: -290px;
    margin-top: 215px;
    color: white;
    text-shadow: 1px 1px 13px rgb(54, 52, 52);
    font-weight: 550;
    font-family: arial,sans-serif;
    font-size: 15px;
}

#text-5{
    position: absolute;
    color: rgb(23, 23, 146);
    margin-left: -10px;
    font-size: 12px;
}

#text-6{
    position: absolute;
    color: rgb(23, 23, 146);
    margin-left: -80px;
    font-size: 12px;
}
