@import url("var.css");
@import url(./md.css)(max-width: 768px);
@import url(./lg.css)(min-width: 769px);

@media screen and (min-width: 769px) and (orientation: landscape) {
    body {
        background-color: var(--branco);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
    body {
        background-color: var(--branco);
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.63);
}